# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage
.DS_Store

!package.json
!package-lock.json
!tsconfig.json

# any output from the crawler
*.json
!outputAnchor-1.json
!outputNoAnchor-1.json
.env
pnpm-lock.yaml
output_cleaned.txt
manual_clean.txt
v2.txt